<div class="header">
  <div class="logo_wrapper">
    <div class="logo_img">
      <img src="../../assets/img/Logo (1).png" alt="Brightum Logo" />
    </div>
  </div>
  <div class="nav_wrapper">
    <div class="menu">
      <ul>
        <li>
          <a
            routerLink="/"
            routerLinkActive="myActiveClass"
            [routerLinkActiveOptions]="{ exact: true }"
            class="nav"
          >
            Home</a
          >
        </li>
        <li>
          <a
            routerLink="/product-services"
            routerLinkActive="myActiveClass"
            [routerLinkActiveOptions]="{ exact: true }"
            class="nav"
          >
            Beengo</a
          >
        </li>
        <li>
          <a
            routerLink="/product-turbo-card"
            routerLinkActive="myActiveClass"
            [routerLinkActiveOptions]="{ exact: true }"
            class="nav"
          >
            TurboCard</a
          >
        </li>
        <li>
          <a
            routerLink="/product-vervvey"
            routerLinkActive="myActiveClass"
            [routerLinkActiveOptions]="{ exact: true }"
            class="nav"
          >
            Vervvey</a
          >
        </li>
      </ul>
    </div>
    <div class="languages_list">
      <ul>
        <li>
          <a
            aria-current="page"
            class="list-item"
            style="color: white"
            hreflang="ru"
            href="/ru/"
            >Rus</a
          >
        </li>
        <li>
          <a class="list-item" hreflang="en" style="color: white" href="/en/"
            >Eng</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
