<div class="block_footer">
  <div class="photo_img_wrapper2">
    <img class="footer_photo" src="../../assets/img/Фото (1).png" />
  </div>
  <div class="footer_email">
    <a href="mailto:@hexalcorp.com">Hello@brightum.io </a>
  </div>
  <div class="footer_column1">
    <div class="column1_1">
      <hr />
      <ul>
        <li><a>Минский офис</a></li>
        <li>
          <a href="tel:+35283318635">+375 29 677 27 82</a>
        </li>
        <li>
          <a>Сурганова 61, офис 27-8</a>
        </li>
      </ul>
    </div>
    <div class="column1_2">
      <div>
        <hr />
        <ul>
          <li><a href="#Услуги">Услуги</a></li>
          <li><a href="#Персоналии">Персоналии</a></li>
          <li><a href="#Вакансии">Вакансии</a></li>
        </ul>
      </div>
      <div>
        <hr />
        <ul>
          <li><a href="#Проекты">Проекты</a></li>
          <li><a href="#Контакты">Контакты</a></li>
        </ul>
      </div>
      <div>
        <hr />
        <ul>
          <li><a href="https://flexbox.malven.co/">Facebook</a></li>
          <li>
            <a href="https://flexbox.malven.co/">Twitter</a>
          </li>
          <li><a href="https://flexbox.malven.co/">Instagram</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer_bt">
    <div class="bt_1">
      <img
        class="bt_image"
        src="../../assets/img/Logologo.png"
        alt="logo_white"
      />
      <div class="logo_divider"></div>
      <div class="text_bt_1">Мы воплощаем идеи в жизнь</div>
    </div>
    <div class="bt_2">
      <div class="bt_text1">Согласие на обработку персональных данных</div>
      <div class="bt_text2">Политика конфидициальности</div>
      <div class="bt_text3">© 2021 Brightum</div>
    </div>
  </div>
</div>
