<div class="block_beengo">
  <div class="photo_img_wrapper">
    <img class="photo_beengo" src="../../assets/img/bike.png" />
  </div>
  <div class="text_1_beengo">Резработка / Дизайн</div>
  <div class="title_beengo">Beengo</div>
  <div class="text_2_beengo">
    Выиграйте свое время для жизни, а желание утолить голод оставьте нам!
  </div>
</div>
<div class="block_project">
  <div class="title_project_text">
    <div class="title_project">О проекте</div>
    <div class="subtext_project">
      Платформа по доставке готовых блюд из ресторанов и кафе
    </div>
  </div>
  <div class="text_project">
    <div class="text_1_project">
      <p>
        Перед нами стояла задача создать комплексный продукт, который позволял
        бы осуществлять доставку готовой еды из заведений общественного питания,
        при этом удовлетворяя всех пользователей данного продукта. Таких было
        четверо – конечный клиент, курьер, ресторан, сотрудники платформы.
      </p>
    </div>
    <div class="text_2_project">
      <p>Поэтому нами были продуманы и разработаны следующие модули:</p>
      <p>Web/iOS/Android - для клиента;</p>
      <p>Web/iOS/Android - для ресторана.</p>
      <p>Web - для сотрудников платформы;</p>
      <p>Android - для курьеров.</p>
    </div>
  </div>
  <div class="left_right_block">
    <div class="left_project">
      <img class="photo_1_project" src="../../assets/img/Фото 1Food.png" />
    </div>
    <div class="right_project">
      <img class="photo_2_project" src="../../assets/img/Фото 2food2.png" />
      <img class="photo_3_project" src="../../assets/img/Фото 3food3.png" />
    </div>
  </div>
</div>
<div class="block_process">
  <div class="title_process">Процесс заказа</div>
  <div class="subtext_process">
    <div class="subtext_1_process">
      Далеко не всегда есть время посетить кафе, а так хочется насладиться
      любимым блюдом или попробовать что-то новенькое, не выходя из дома или
      офиса. Тогда на помощь вам придет Платформа Beengo.
    </div>
  </div>

  <img class="photo_process" src="../../assets/img/Фотоnumber.png" />
</div>
<div class="block_search">
  <div class="title_search">Найди</div>
  <div class="subtext_search">
    Поиск по категориям или отслеживание «живой ленты»
  </div>

  <img class="photo_search" src="../../assets/img/Фотоmenu.png" />
</div>
<div class="block_investigate">
  <div class="title_invest">Исследуй</div>
  <div class="subtext_invest">
    <div class="subtext_1_invest">
      Чтобы сделать выбор прощe, сначала выбери из популярных категорий
    </div>
  </div>

  <div class="img_invest">
    <div class="photo_invest_1_2">
      <img class="photo_1_invest" src="../../assets/img/image 20pizza1.png" />
      <img class="photo_2_invest" src="../../assets/img/image 19pizza2.png" />
    </div>

    <img class="photo_3_invest" src="../../assets/img/image 17pizza3.png" />
  </div>
</div>
<div class="block_choice">
  <div class="title_choice">Сделай свой выбор</div>

  <img class="photo_choice" src="../../assets/img/Фотоpizza.png" />
</div>
<div class="block_designer">
  <div class="title_designer">Конструктор блюд</div>
  <div class="subtext_designer">
    Клиент может выбрать из уже готового меню, а также создать свое собственное
    блюдо
  </div>

  <img class="photo_designer" src="../../assets/img/Фотоkonst.png" />
</div>
<div class="block_check">
  <div class="title_check">Подтверждение заказа и оплата</div>
  <div class="photo_check">
    <img class="photo_1_check" src="../../assets/img/Rectangle 46check.png" />
  </div>
</div>
<div class="block_surveillance">
  <div class="title_surv">Отслеживание заказа</div>

  <img class="photo_surv" src="../../assets/img/Фотоsled.png" />
</div>
<div class="block_assessment">
  <div class="title_assess">Ставь оценки курьерам и ресторанам</div>
  <div class="photo_block">
    <div class="photo_left_assess">
      <img class="photo_assess_1" src="../../assets/img/image 17left.png" />
    </div>
    <div class="photo_right_assess">
      <img class="photo_assess_2" src="../../assets/img/image 17right.png" />
    </div>
  </div>
</div>
<div class="block_like">
  <div class="title_like">Получи лояльность клиентов</div>
  <img class="photo_like" src="../../assets/img/Фотоfalov.png" />
</div>
<div class="block_vacancies">
  <div class="vacan_title">Готовы работать с нами?</div>
  <div class="vacan">
    <a href="https://flexboxfroggy.com/#ru">Вакансии</a>
  </div>
</div>
