.block_info {
  position: relative;
  width: 1920px;
  height: 1010px;
}
.photo_img_wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.photo_img_wrapper:after {
  background: rgba(51, 51, 51, 0.7);
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.info_photo {
  width: 1920px;
  height: 1010px;
}

.info_text {
  position: absolute;
  width: 271px;
  height: 24px;
  left: 160px;
  top: 302px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  text-transform: uppercase;
  color: #ffffff;
}
.info_title {
  position: absolute;
  width: 597px;
  height: 160px;
  left: 160px;
  top: 358px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 160px;
  line-height: 100%;
  color: #ffffff;
}
.info_textt {
  position: absolute;
  width: 597px;
  height: 34px;
  left: 160px;
  top: 562px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  color: #ffffff;
}
.block_project {
  width: 1920px;
  height: 2172px;
  background: #ffffff;
  font-family: "Roboto";
  font-style: normal;
}
.project_chapter {
  text-align: center;
  width: 1063px;
  margin-left: 429px;
}

.chapter {
  font-weight: 900;
  font-size: 80px;
  color: #383a66;
  margin-top: 120px;
}
.project_text {
  display: flex;
  font-weight: 400;
  font-size: 46px;
  color: #8b8b8b;
  margin-top: 32px;
}
.pro_block {
  display: flex;
}
.pro_left {
  width: 800px;
  margin-left: 160px;
}
.pro_right {
  margin-right: 160px;
}
.project_text1 {
  width: 780px;
  height: 170px;
  left: 160px;
  top: 444px;
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  text-align: justify;
  color: #8b8b8b;
  margin-top: 84px;
}
.project_title {
  font-weight: 900;
  font-size: 40px;
  line-height: 120%;
  color: #333333;
  margin-top: 94px;
}
.project_text2 {
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  color: #8b8b8b;
  margin-top: 32px;
}
.project_photo1 {
  margin-right: 160px;
  width: 770px;
  height: 830px;
  margin-top: 0px;
}
.project_title2 {
  font-weight: 900;
  font-size: 40px;
  line-height: 120%;
  color: #333333;
}
.project_text3 {
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  color: #8b8b8b;
}

.project_footer {
  margin-left: 160px;
  margin-right: 160px;
}

.project_title3 {
  font-weight: 900;
  font-size: 40px;
  line-height: 120%;
  color: #333333;
  margin-top: 31px;
}
.project_text4 {
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  color: #8b8b8b;
  margin-top: 32px;
}
.block_photo {
  width: 1920px;
  height: 1536px;
  background: #ffffff;
}
.block_result {
  font-family: "Roboto";
  font-style: normal;
  width: 1920px;
  height: 1010px;
  background: #ffffff;
}
.result {
  text-align: center;
  margin-top: 120px;
  font-weight: 900;
  font-size: 80px;
  color: #383a66;
}
.result_text {
  width: 1063px;
  margin-left: 429px;
  display: flex;
  margin-top: 32px;
  font-weight: 400;
  font-size: 46px;
  line-height: 140%;
  text-align: center;
  color: #8b8b8b;
}
.result_text1 {
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  color: #8b8b8b;
  margin-left: 160px;
  margin-right: 160px;
  margin-top: 84px;
}
.result_text1 p {
  margin: 0;
}
.result_title {
  font-weight: 900;
  font-size: 40px;
  line-height: 120%;
  color: #333333;
  margin-left: 160px;
  margin-right: 160px;
  margin-top: 60px;
}
.result_text2 {
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  color: #8b8b8b;
  margin-left: 160px;
  margin-right: 160px;
  margin-top: 32px;
}
.vacan_title {
  width: 832px;
  height: 200px;
  margin-left: 160px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 100px;
  line-height: 100%;
  color: #333333;
}
.vacan {
  width: 180px;
  height: 48px;
  margin-left: 160px;
  margin-top: 81px;
  margin-bottom: 137px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 120%;
  text-align: center;
}
