<div class="block_info">
  <div class="photo_img_wrapper">
    <img class="info_photo" src="../../assets/img/pin.png" />
  </div>
  <div class="info_text">Резработка/Дизайн</div>
  <div class="info_title">TurboCard</div>
  <div class="info_textt">
    Улучшение экономической ситуации и эмоционального состояния клиентов
  </div>
</div>
<div class="block_project">
  <div class="project_chapter">
    <div class="chapter">О проекте</div>
    <div class="project_text">
      Удобное приложение TurboCard для получения досрочной выплаты части
      заработной платы
    </div>
  </div>
  <div class="pro_block">
    <div class="pro_left">
      <div class="project_text1">
        Простое, удобное приложение TurboCard для получения досрочной выплаты
        части заработной платы за уже отработанное время призвано снизить
        кредитную нагрузку линейного персонала, избавляя его от необходимости
        брать кредиты, снижая риск просрочки платежей и сборов за овердрафт
      </div>
      <div class="project_title">Задача</div>
      <div class="project_text2">
        Задача проекта - улучшение экономической ситуации и эмоционального
        состояния клиентов за счет использования социально ответственного
        финансового продукта ывать услуги своим клиентам.
      </div>
      <img class="project_photo1" src="../../assets/img/phone_left.png" />
    </div>
    <div class="pro_right">
      <img class="project_photo2" src="../../assets/img/phone_right.png" />
      <div class="project_title2">Ход работы</div>
      <div class="project_text3">
        Для определения наилучшего способа использования высоких технологий,
        направленных на устранение обозначенных проблем, были проанализированы
        различные варианты решений и опыт рынка финтех-продуктов. Был выбран
        вариант взаимодействия трёх сторон: Сотрудник – Работодатель –Банк,
        которое заключается в создании Сервиса получения оплаты по запросу,
        позволяющего пройти весь процесс от заявки до получения средств за
        максимально короткий срок 24/7/365, где бы ни находился сотрудник
      </div>
    </div>
  </div>
  <div class="project_footer">
    <div class="project_title3">Преимущества подхода</div>
    <div class="project_text4">
      При данном подходе застрахованы все стороны – для сотрудника отсутствует
      угроза скрытых комиссий и дополнительных взысканий; Банк имеет условный
      залог в виде обязательного поступления заработной платы сотрудника в
      установленный срок; Работодателю не требуется изыскивать дополнительные
      ресурсы для поддержания сотрудников в непростой финансовой ситуации.
      Сумма, которую может получить сотрудник, соответствует его фактическому
      заработку за указанный период и выдается ему досрочно без % или взимания
      комиссии, с четко установленной платой за транзакцию вне зависимости от
      суммы
    </div>
  </div>
</div>

<div class="block_photo">
  <img class="project_photo2" src="../../assets/img/880.png" />
</div>
<div class="block_result">
  <div class="result">Результат:</div>
  <div class="result_text">
    Описанный ниже подход позволяет достигнуть цели с максимальной простотой и
    эффективностью
  </div>
  <div class="result_text1">
    <p>
      • Сотрудники смогут запрашивать выплату средств за уже отработанные часы в
      любое время из любого места, вместо того, чтобы искать иные источники
      получения заёмных средств;
    </p>
    <p>
      • Работодатель не приобретёт излишней финансовой нагрузки за счет участия
      Банка, упрочнив при этом связи с собственными наемными работниками;
    </p>
    <p>
      • Банк получит приток клиентов по зарплатным проектам, а также
      дополнительный источник получения вознаграждения в качестве оплаты за
      перевод
    </p>
  </div>
  <div class="result_title">Развитие продукта:</div>
  <div class="result_text2">
    Версия 1.0. продукта представляет собой модуль, готовый к интеграции с
    контуром любого банка. Вариант развития - подготовка плагина к интеграции в
    системы Работодателя, равно как и развитие самого продукта – создание
    дополнительных функций для оптимизации финансового поведения Пользователя
  </div>
</div>
<div class="block_vacancies">
  <div class="vacan_title">Готовы работать с нами?</div>
  <div class="vacan">
    <a href="https://flexboxfroggy.com/#ru">Вакансии</a>
  </div>
</div>
