<div class="block_info">
  <div class="photo_img_wrapper">
    <img class="info_photo" src="../../assets/img/Photo.png" />
  </div>
  <div i18n="piy" class="info_text">Резработка/Дизайн</div>
  <div class="info_title">Vervey</div>
  <div class="info_textt">Улучшаем качество обслуживания клиентов вместе</div>
</div>
<div class="block_project">
  <div class="pro_left">
    <div class="project_title">О проекте</div>
    <div class="project_title1">
      B2B веб-платформа для шеринга рабочих мест в салонах красоты
      мастерам-индивидуалам
    </div>
    <div class="project_text1">
      В рамках данного проекта мы стремились создать удобный инструмент для
      выстраивания связей между профессиональными участниками рынка бьюти-услуг,
      который позволил бы удовлетворить интересы каждого из них.
    </div>
    <div class="project_text2">
      Салоны красоты получают возможность зарабатывать, сдавая в аренду
      оборудованные рабочие места. Мастера получают доступ к огромному каталогу
      заинтересованных в сотрудничестве салонов, в помещениях которых они могут
      оказывать услуги своим клиентам.
    </div>
  </div>
  <div class="pro_right">
    <img class="project_photo" src="../../assets/img/Photo (1).png" />
  </div>
</div>
<div class="block_capabilities">
  <div class="cap_title">Возможности пользователей</div>
  <div class="cap_text1">
    <p>
      В рамках регистрации мастера и салоны создают публично доступные профили
      со всей необходимой информацией о профессиональной деятельности и
      принципах работы
    </p>
    <img class="cap_photo1" src="../../assets/img/Phote.png" />
  </div>
  <div class="cap_text2">
    <p>
      Мастера при помощи каталога выбирают салоны для сотрудничества, отправляют
      заявки и при их одобрении получают доступ к календарю для бронирования
      рабочих мест на выбранные даты. Система рейтинга и взаимных отзывов
      повышает прозрачность сервиса и позволяет пользователям получать обратную
      связь от контрагентов.
    </p>
    <img class="cap_photo2" src="../../assets/img/Photi.png" />
  </div>
</div>
<div class="block_admin">
  <div class="admin_title1">Администрирование платформы</div>
  <div class="admin_text1">
    Любая публичная площадка нуждается в стражах порядка, и Vervvey не стала
    исключением. Администраторы системы имеют инструментарий для учёта всех
    пользователей платформы, верификации их профилей и арбитража во
    взаимоотношениях между мастерами и салонами, а также систему генерации
    отчётов для задач по аналитике деятельности платформы.
  </div>
  <div class="admin_title2">Обработка платежей</div>
  <div class="admin_text2">
    Платформа интегрирована с крупнейшими платёжными сервисами, гарантирует
    перечисление платы за аренду только после успешного завершения сделки и
    предоставляет каждому пользователю ежемесячную отчётность о его расчётах на
    платформе.
  </div>
  <img class="admin_photo" src="../../assets/img/payments.png" />
</div>
<div class="block_vacancies">
  <div class="vacan_title">Готовы работать с нами?</div>
  <div class="vacan">
    <a href="https://flexboxfroggy.com/#ru">Вакансии</a>
  </div>
</div>
